<head>
  <style>
    body {
      background: url('https://thumbnails.yayimages.com/1600/0/d99/d9945c.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    }

  </style>
</head>


<body style="height: 100vh; max-width: 100vw;">
  <div class="row border mx-auto mb-5 p-1 bg-danger" style="max-width: inherit; background-color: rgba(229,157,126,0.63)">
    <h1 class="font-monospace fw-bolder">ThreeJS/Angular/Flask Test Page</h1>
  </div>
  <div class="row border mx-auto p-1 bg-danger" style="max-width: inherit; background-color: rgba(229,157,126,0.63); height: 80%">

    <div class="col mx-auto border p-1 bg-info" style="max-width: inherit">

      <router-outlet></router-outlet>
    </div>
  </div>
</body>
