
<!--<canvas class="draw" id="mainCanvas" style="max-width: inherit; min-width: 100%; height: inherit"></canvas>-->
<div class="col mx-auto" style="max-width: 100%; height: 100%; background-color: inherit">
  <canvas class="draw row mx-auto" id="mainCanvas" style="max-width: inherit; height: inherit; cursor: none"></canvas>
  <div>
    <h4>WASD MOVE, MOUSE CONTROL CAMERA</h4>
  </div>
</div>

<!--<canvas class="draw" id="mainCanvas" style="max-width: inherit; height: inherit"></canvas>-->
<!--<form class="col-8 mx-auto form-group" [formGroup]="wordForm" (ngSubmit)="sendWord()">-->
<!--    <div class="form-group row">-->
<!--        <label for="word_in" class="col-form-label">-->
<!--            <h4>Enter Word</h4>-->
<!--        </label>-->
<!--        <div class="col-sm-8">-->
<!--            <input id="word_in" type="text" placeholder="word" class="form-control shadow" formControlName="word_in">-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="form-group row">-->
<!--        <div class="col-sm-10 offset-sm-8">-->
<!--            <button type="submit" class="btn btn-primary shadow" [disabled]="!commentForm.valid">Post-->
<!--                Comment</button>-->
<!--        </div>-->
<!--    </div>-->
<!--</form>-->

